
#cuerpo{
	margin-top: 100px;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 30px;
	height: auto;
}
article.espacio{
	border-style: solid;
	border-color: black;
	margin-bottom:  15px;
}
.espacio{
	font-size: 20px;
	background-color: #8C7C7C;
	margin: auto;
	text-align: center;
	color: black;	
	border-radius: 20px;
	font-weight: bold;
}
.espacio img{
	height: 200px;
	width: 500px;
	border-radius: 15px;
	border-style: solid;
	border-color: red;
	margin: 15px;
}
.espacio p{
	text-align: justify;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0;
}
.espacio ul{
	text-align: justify;
	margin-bottom: 15px;
	margin-left: 50px;
	margin-right: 20px;
	margin-top: 0;
}